div {
  background-color: white;
  width: 1060px;
  margin: 1px;
  border: 2px solid black;
  padding:0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*border-bottom: 2px solid black;
  border-left:   2px solid black;
  border-right:  2px solid black;
  border-top:    2px solid black;*/
}

body {
  background-image: url(8_pic1.png);
  font-family: helvetica;
  grid-template-rows: auto 1fr auto;

}

nav {
float: left;
width: 200px;
list-style-type: none;
margin:  0px;
padding: 0px;
grid-column: span 3;
}

main {
  width: 720px;
  margin-left: 200px;
  padding: 10px;
 grid-column: span 9;
}

.Hel:link{
  color: Red;
  text-decoration: none;
  font-weight: bold;
}

.Hel:visited{
  text-decoration: none;
}

.Hel:hover{
  text-decoration: underline;
  text-decoration-color: blue;
}

.Hel:active{
  text-decoration: underline;
  text-decoration-color: blue;
}



img {
float: left;
  border: 4px solid black;
  padding: 8px;
  margin-right: 10px;
  width: 450px;
}

.Text{
  font-weight: bold;
  font-family: Georgia;


}

h2 {
  border-bottom: 2px solid black;
  margin-left: 30px;

}

header {
  background-color: black;
  color: white;
  margin: 2px;
  padding: 2px;
  grid-column: span 12;

}

li{
  background-color: red;
  margin: 10px;
  padding:10px;
  width:110px;
  text-decoration: none;
  list-style-type: none;
}

a{
  text-decoration: none;
  color:white;
}

li:hover{
  background-color:rgb(105, 0, 52);
  background-size: 10px;
  text-decoration-style: none;
  display:flex;
}
footer {
font-family: Verdana;
font-style: italic;
background-color: red;
color: white;
position: relative;
height:50px;
clear: both;
margin-top: 50px;
text-align: center;
padding-bottom: 20px;
grid-column: span 10
